@import url('../shared/colors.css');
@import url('../shared/fonts.css');
@import url('../shared/reset.css');
@import url('../shared/spacing.css');
@import url('../shared/positions.css');

/***********************************************************************************************************************/
/******************************** Common Styles for background and font/text color *************************************/
.bg-fire { background-color: var(--fire); }
.bg-fire-lite { background-color: var(--fire-lite); }
.bg-fire-dark { background-color: var(--fire-dark); }
.bg-eco { background-color: var(--eco); }
.bg-eco-lite { background-color: var(--eco-lite); }
.bg-eco-dark { background-color: var(--eco-dark); }
.bg-bee { background-color: var(--bee); }
.bg-bee-lite { background-color: var(--bee-lite); }
.bg-cool { background-color: var(--cool); }
.bg-calm { background-color: var(--calm); }
.bg-metal { background-color: var(--metal); }
.bg-metal-dark { background-color: var(--metal-dark); }
.bg-sun { background-color: var(--sun); }
.bg-over { background-color: var(--over); }
.bg-rainy { background-color: var(--rainy); }
.bg-glass { background-color: var(--glass); }
.bg-smoke { background-color: var(--smoke); }

.txt-fire { color: var(--fire); }
.txt-fire-dark { color: var(--fire-dark); }
.txt-fire-lite { color: var(--fire-lite); }
.txt-eco { color: var(--eco); }
.txt-eco-dark { color: var(--eco-dark); }
.txt-eco-lite { color: var(--eco-lite); }
.txt-bee { color: var(--bee); }
.txt-bee-lite { color: var(--bee-lite); }
.txt-cool { color: var(--cool); }
.txt-calm { color: var(--calm); }
.txt-metal { color: var(--metal); }
.txt-metal-dark { color: var(--metal-dark); }
.txt-sun { color: var(--sun); }
.txt-over { color: var(--over); }
.txt-rainy { color: var(--rainy); }
.txt-smoke { color: var(--smoke); }

/***********************************************************************************************************************/
/***********************************************************************************************************************/

/*********************************************************************************************************************/
/************************************* Documentation Pages Styles (via Grids)  ***************************************/

.grid-container-docs {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: min-content auto min-content;
}

.header-docs { grid-column: 1/6; grid-row: 1/2; }
.main-docs { grid-column: 2/6; grid-row: 2/3; }
.footer-docs { grid-column: 1/6; grid-row: 3/4; }
.aside-docs {
    grid-column: 1/2; 
    grid-row: 2/3;
    transition: width 375ms;
    z-index: 10;
    overflow: hidden;
    overflow-y: scroll;
}

.sidebar-links { color: var(--over); }

.sidebar-links:hover { color: var(--sun); }

.sidebar-links.current { color: var(--metal); }


@media only screen and (max-width: 992px) {

.hide-drs { display: block; }

.aside-docs { width: 0%; overflow-y: scroll; }

.aside-docs.responsive { width: 50%; z-index: 10; }

.grid-container-docs {
    grid-template-columns: 1fr;
    grid-template-rows: min-content auto min-content;
}

.main-docs { grid-column: 1/2; grid-row: 2/3; }

.header-docs { grid-column: 1/2; grid-row: 1/2; }

.footer-docs { grid-column: 1/2; grid-row: 3/4; }

}

@media only screen and (max-width: 768px) {
    .aside-docs {    width: 0;    overflow-y: scroll;    }
    .aside-docs.responsive {    width: 75%;  z-index: 10;  }
}

@media only screen and (max-width: 540px) {
    .aside-docs {    width: 0;    overflow-y: scroll;    }
    .aside-docs.responsive {    width: 100%;  z-index: 10;  }
}

/*************************************************************************************************************************/
/*************************************************************************************************************************/