/*********************************************************************************************************/
/****************************************** Position Styles *********************************************/

.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
}

.top-rgt-5 {
    top: 5%;
    right: 5%;
}

.top-lft-5 {
    top: 5%;
    left: 5%;
}

.btm-rgt-5 {
    bottom: 5%;
    right: 5%;
}

.btm-lft-5 {
    bottom: 5%;
    left: 5%;
}

.hw-33 {
    height: 33.33%;
    width: 33.33%;
}

.rot-c-45 {
    transform: rotate(45deg);
}

/*********************************************************************************************************/
/*********************************************************************************************************/

/*********************************************************************************************************/
/********************************************* Display Styles ****************************************************/

.hide-rs {
    visibility: hidden;
}

.hide-drs {
    display: none;
}

.show {
    display: block;
}

.o-0 {
    opacity: 0;
}
.o-1 {
    opacity: 1;
}
.o-2 {
    opacity: 2;
}
.o-3 {
    opacity: 3;
}
.o-4 {
    opacity: 4;
}
.o-5 {
    opacity: 5;
}
.o-6 {
    opacity: 6;
}
.o-7 {
    opacity: 7;
}
.o-8 {
    opacity: 8;
}
.o-9 {
    opacity: 9;
}

/*********************************************************************************************************/
/*********************************************************************************************************/