
/********************************************* Alerts  *************************************************************/

.alert {
    padding: 1rem;
    border-radius: 0.5rem;
}

.alert-close {
    float: right;
}

.alert-fire {
    background-color: var(--fire);
    color: var(--smoke);
}

.alert-bee {
    background-color: var(--bee);
    color: var(--over);
}

.alert-sun {
    background-color: var(--sun);
    color: var(--over);
}

.alert-eco {
    background-color: var(--eco);
    color: var(--smoke);
}

.alert-cool {
    background-color: var(--cool);
    color: var(--smoke);
}

.alert-metal {
    background-color: var(--metal);
    color: var(--smoke);
}

.alert-over {
    background-color: var(--over);
    color: var(--smoke);
}

.alert-rainy {
    background-color: var(--rainy);
    color: var(--metal-dark);
}

/*******************************************************************************************************************/