@import url('../components/flexbox.css');
@import url('../components/navbars.css');
@import url('../shared/common.css');
@import url('../components/grids.css');

/********************************************** IMAGES *****************************************************************/

.img-round {
    overflow: hidden;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.img-square {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
/***********************************************************************************************************************/