@import url('../components/flexbox.css');
@import url('../components/navbars.css');
@import url('../shared/common.css');
@import url('../components/grids.css');

/*************************************************** Toasts ***********************************************************/

.toast {
    padding: 1rem;
    display: flex;
    align-items: space-between;
}

.toast-stk {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
}

.toast-content {
    display: flex;
    flex-direction: column;
}

/********************************************************************************************************/